/* TO DO:

-fix mediascreen/navbar bugs; need to set absolute/fixed positions
-French workshop time, + add Japanese workshop image
-add correct Zoom links for workshops
-make sure contact form is working
-fix footer position



EXTRA TO DO:
-try HORIZONTAL VIEW for polyglots execs
-make navbar opaque when scrolling down
-make page slightly opaque when sideNavbar is open


-box radius/size etc for the contact for

-change the font family / font colour
-margin a little lighter
-add box shadow?
-change px to em / fix all the -30px etc hacks
-change variable names/unclear code etc


~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

EXTRA:
-finish dropdown menu
-Make page's body/content opaque when toggling hamburger menu
-make sure vertical dropdown menu works for all other .html files (contact, execteam, ttc)



*/


/*******************************   Container for html code   ***********************************/
#container{
	color: #000080;
	font-family: 'Montserrat';
/*	font-family: proxima-nova;
font-family: 'Playfair Display';*/
	overflow: hidden;
	padding: 0;
	margin: 0 auto;
}

html, body{
	margin: 0 auto; /*Gets rid of extra whitespace*/
}

body{
	font-family: 'Montserrat';
/*	font-family: Georgia, 'Times New Roman', Times, serif;*/
	/*background-image: url('pictures/SFUPolyglotsLogo2.png');*/
}

li{
	list-style: none;
}

a{
	text-decoration: none;
	color: inherit;
}

* {
	box-sizing: border-box;
}

h1{
	text-align: center;
	font-size: 50px;
	font-family: 'Montserrat';
/*	font-family: "Courier New", Courier, monospace;	*/
	margin: 0; /* gets rid of space between h1 and h2 elements */
}

h2{
	margin: 15px;
}

p{
	margin: 15px;
}

/*
.backgroundImage{
	background-position: center top;
	opacity: 0.1;
}*/


/*******************************   Navbar   ***********************************/

.navBar{
  background-color: #5CE1E6;
  position: fixed; /* Gets rid of navbar bug */
  color: #fff;
  height: 90px;
  width: 100%;
  top: 0;
  letter-spacing: 1px;
  display: inline-flex;
}

/* Div for the club logo / left part of navbar */
.left-header {
/*	height: 100%;*/
	float: left;
	margin-left: 50px;
}

#clubLogo{
	display: block;/* added display block */
	height: 90x;
	width: 90px;/*	position: 	*/
	/*Changed from -40 to 0px*/
	margin: -30px 0px 0px -20px;/* margin top right bottom left */
	
}

.textNextToLogo{
	font-size: 24px;
}

.textNextToImage{
	position: fixed;
	width: 200px;
	margin-left: 130px;
}


/* Div including navbar items and social media icons */
.right-header {
	font-size: 14px;
	/* Changed from 150px*/
	margin-left: -50px;
/*	position: fixed - solves the moving text problem */
}

/* Navbar items (Home, exec team, etc) */
.right-nav{
/*	position: static;*/
	float: right;
	align-items: center;	 /* centers navbar items text */
	display: flex; /* Removing this gives the items as a column */
	flex-direction: row;
	justify-content: flex-end; /*Gets rid of 'Contact disappearing*/
	padding: 0;
	margin: 0;
	height: 100%;
}

.right-nav a{
	/* IMPORTANT; SETS A MINIMUM MARGIN FOR THE SPACE IN BETWEEN WORDS */
	margin: 15px;
	/*padding-right: 50px;*/
}

/* Sticky nav bar */
.sticky{
	position: fixed;
	top: 0;
	width: 100%;
}

.sticky + .contents {
  padding-top: 60px;
}

/*******************************   Dropdown menus   ***********************************/
/* Horizontal dropdown menu */
li a, .adropdownbutton {
/*	background-color: #5CE1E6;*/
	display: inline-block;
	text-decoration: none;
}

.dropdowncontent {
	display: none;
	position: absolute;
	background-color: #5CE1E6;
	z-index: 1;
	padding-top: 10px;
	width: 12%; /* Changed from 9% */
	text-align: center;
}

.dropdowncontent a{
	overflow: auto;
	padding: 10px 14px;
	text-decoration: none;
	display: block;
}

/* Vertical dropdown menu */
li a, .adropdownbutton2{
	display: inline-block;
	text-decoration: none;
}

.dropdowncontent2 {
	display: none;
	position: absolute;
	background-color: #5CE1E6;
	width: 50%;
	text-align: center;
	padding-top: 10px;
}

.dropdowncontent2 a{
	overflow: auto;
/*	padding: 10px 14px;*/
	text-decoration: none; 
	/* Note: removing display:block here allows for toggling */
}

/*******************************   Hovering  ***********************************/
.lidropdown:hover .dropdowncontent {
	display: block;
}

a:hover {
	opacity: 0.6;
}

/* Hovering for vertical menu bar */
.lidropdown2:hover .dropdowncontent2{
	display: block;
}

/*******************************   Hamburger menu for mobile  ***********************************/
.icon{
	display: none;
	float: right;
	font-size: 36px;
	/*Changed from 0 25 25 0*/
	margin: 10px 10px 25px 0px; /* Creates a margin -10px from the right for the hamburger menu icon */
}

.navbar-mobile{	
	position: fixed;
	height: 100%;
	width: 0;
	right: 0;
	background-color: #5CE1E6;
	transition: 0.3s;
	overflow-x: hidden; /* stops working if this part is taken out */
	color: white;
	font-size: 14px;
	letter-spacing: 1px;
	text-align: left;
/*	margin: 50px 0px 0px 0px;*/
	
}

.navbar-mobile li{
	padding-top: 20px; /* spaces out items in vertical menu bar */
	margin: 0 20px; /* margin top right bottom left */
	
}

/*
.right-nav a{
	word-spacing: 50px;
}*/



/*******************************   media screen for mobile  ***********************************/

/*
@media screen and (max-width: 700px){
}*/

@media screen and (max-width: 1051px){
	.left-header{
		text-align: center;
		/* margin-left is current fix for making icon/text more centered */
		margin-left: 0px;
	}
	.textNextToImage{
		margin-left: 70px;
	}
	.right-header{
		width: 95%;
		
	}
	.right-nav {
		display: none;
	}
	.icon {
		display: block;
	}
	/* WORKS; create another transition for 1051 - 1300-ish */
	img{
		width: 67%; /*Changed from 100% */
	}
/*
	IF icon display is block, then use opacity
		.left-header{
			opacity: 0.5;
		}
		.r{
			opacity: 0.5;
		}
		body{
			opacity: 0.5;
		}
*/		
}

/* Need media screen for ~1300px ish */


@media screen and (min-width: 1051px) and (max-width: 2100px) {
	.left-header{
		text-align: center;
	}
	.right-header {
		width: 87%;
	}
	.right-nav {
		/* Changed from 70% to 65*/
		width: 55%; /* Changes the spacing between right-nav items */
	}
}

/*******************************  home page  ***********************************/

.contactContainer{
	/* Centers contact container */
text-align: center;	
	
}

input[type=submit]{
	background-color: #5CE1E6;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 8px;
	cursor: pointer;
	letter-spacing: 1px;
}

.container{
	border-radius: 8px;
	padding: 20px;
}

.mainContainer{
	text-align: center;
}

.joinContainer{
	text-align: center;		/* Centers contact container */
}

.sfssLogo{
	height: 100px;
	width: 100px;
}

.imgContainer{
	text-align: center;
}


/*******************************  exec team  ***********************************/

.content{
	padding: 25px 250px 0 250px; /* creates space on left and right of images on execteam.html; top right bottom left */
}

#admin_table {
	align-items: center;
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	width: 50%;
	margin: 0 auto;
	/* Change font-size / family ? */
	font-size: 1.2rem;
	/* Change:
	flex-direction: row;
	width: 100%;
	for vertical exec team
	*/
}


.admin_pic {
	width: 90%;
	display: center;
}

.column{
	float: left;
	width: 50%;
	padding: 5px;
	height: 100%;
}

/* Clearfix (clear floats) */
.row::after {
	content: "";
	clear: both;
	display: table;
}

/* Responsive layout */
@media screen and (max-width: 1051px) {
/*	.row h2, p{
		float: right !important;
	}*/
	.column{
		width: 100% !important;
	}
}

/* footer */
footer{
	text-align: center;
/*	position: fixed;
	bottom: 0;*/
}











/*******************************  contact  ***********************************/
.contactIcons{
	display: flex;
	justify-content: space-around;
	flex-direction: row;
/*	height: 100%;
	width: 20%; */
}

/*******************************  events  ***********************************/
.eventColumn {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.eventRow::after {
  content: "";
  clear: both;
  display: table;
}

/* Responsive layout */
@media screen and (max-width: 600px) {
  .eventColumn {
    width: 100%;
  }
}

/*******************************  workshops ***********************************/
.workshopColumn {
  float: left;
  width: 50%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.workshopRow::after {
  content: "";
  clear: both;
  display: table;
}

/* Responsive layout */
@media screen and (max-width: 600px) {
  .workshopColumn {
    width: 100%;
  }
}




/*
.execContainer{
	position: relative;
	content: "";
	clear: both;
	display: flex;
	flex-direction: row;
	
}

.image{
}

.text{
	float: right;
}

.execContainer img{
	align-items: center;
	justify-content: center;	
}
*/

/*
.execContainer{
	display: flex;
	align-items: center;
	justify-content: center;
	
}

.image{
	vertical-align: middle;
}


*/














